<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
   <configSections>
      <section name="applicationServer" type="System.Configuration.DictionarySectionHandler"/>
      <section name="fake" type="System.Configuration.DictionarySectionHandler"/>
   </configSections>
   <applicationServer>
      <add key="environments" value="fake"/>
      <add key="appPluginsPath" value="D:\Dev\MindHub\Source\MindHub\BaseAppModules"/>      
      <add key="logPath" value="D:\Dev\MindHub"/>
   </applicationServer>
   <fake>
      <add key="type" value="SQL"/>
      <add key="connect" value="user id=sa;password=rexer2000;server=(local);database=mindhub"/>
      <add key="uipathos" value="D:\Dev\MindHub\Source\WebRoot\Fake\"/>
      <add key="uipathweb" value="/Fake/"/>
   </fake>   
</configuration>

