<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
   <configSections>
      <section name="applicationServer" type="System.Configuration.DictionarySectionHandler"/>
      <section name="fake" type="System.Configuration.DictionarySectionHandler"/>
   </configSections>
   <applicationServer>
      <add key="environments" value="fake"/>
      <add key="port" value="8085"/>
   </applicationServer>
   <fake>
      <add key="type" value="SQL"/>
      <add key="connect" value="user id=sa;password=;server=(local);database=mindhub"/>
      <add key="ui" value="fakeweb"/>
   </fake>   
</configuration>

