<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
   <configSections>
      <section name="webServer" type="System.Configuration.DictionarySectionHandler"/>
   </configSections>
   <webServer>
      <add key="applicationServerHost" value="localhost"/>
      <add key="applicationServerPort" value="8085"/>
   </webServer>
</configuration>
