<!-- filename: caseslistitem.html -->

<tr class="guilistitemrow">
	<td width="16%" class="guilistitemcell"><% nametxt %></td>
	<td width="16%" class="guilistitemcell"><% casefilenum %></td>
	<td width="16%" class="guilistitemcell"><% createdt %></td>
	<td width="16%" class="guilistitemcell"><% casecostnum %></td>
	<td width="16%" class="guilistitemcell"><% caseclosedflg %></td>
	<td class="guilistitemcell">
		<a class="guilistitemlink" href="/webapi/process.aspx?vf=testfunction&vpcid=1001&vdaid=<% objid %>">View</a>
	</td>
</tr>
