<!-- filename: caseslist.html -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>List of Cases</title>
	<link rel="STYLESHEET" type="text/css" href="<% cuipathweb %>/style.css">
</head>

<body class="page">

<table class="guititletable" cellpadding="0" cellspacing="0"><tr class="guititlerow"><td class="guititlecell">List of Cases</td></tr></table>
<table width="100%" class="guiwrappertable" cellpadding="0" cellspacing="0"><tr class="guiwrapperrow"><td class="guiwrappercell">
	<table width="100%" class="guilistheadertable" cellpadding="0" cellspacing="0">
	<tr class="guilistheaderrow">
		<td width="16%" class="guilistheadercell">Case Name </td>
		<td width="16%" class="guilistheadercell">Case File Number </td>
		<td width="16%" class="guilistheadercell">Date Created </td>
		<td width="16%" class="guilistheadercell">Case Cost </td>
		<td width="16%" class="guilistheadercell">Case Closure Flag </td>
		<td class="guilistheadercell">Operation</td>
	</tr>
	</table>

	<table width="100%" class="guilistitemtable" cellpadding="0" cellspacing="0">
		<% stophere %>
	</table>
</td></tr></table>

</body>
</html>
