<!-- filename: mainmenu.html -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>Menu</title>
	<link rel="STYLESHEET" type="text/css" href="<% cuipathweb %>/style.css">
</head>

<body class="mainmenubody">

<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
	<img src="<% cuipathweb %>/image/logo.gif" border="0" alt="Welcome">
</td>
<td width=20></td>
<td>
	<font class="mainmenusection">Personal : </font>
	<a class="mainmenuitem" href="/webapi/process.aspx?vf=displaytoday" target="frame_main">Today</a> -
	<a class="mainmenuitem" href="/webapi/process.aspx?vf=gui&vguicid=BaseWebModules.ProfileDlg&vguic=open" target="frame_main">Profile</a> -
	<a class="mainmenuitem" href="/webapi/process.aspx?vf=logoff" target="_top">Log Off</a>
	<br>
	<font class="mainmenusection">Admin : </font>
	<a class="mainmenuitem" href="/webapi/process.aspx?vf=gui&vguicid=BaseWebModules.GUIDOListDialog&vguic=open&vcid=5" target="frame_main">Process Maps</a> -
	<a class="mainmenuitem" href="/webapi/process.aspx?vf=display&page=usersearch.html" target="frame_main">Find User</a> -
	<a class="mainmenuitem" href="/webapi/process.aspx?vf=gui&vguicid=BaseWebModules.GUIDODialog&vguic=open&vcid=8" target="frame_main">Add User</a> -
	


</td>
</tr>
</table>


</body>
</html>
