---BEGIN PUBLISHING DATA---
LOCATIONS=1
DESCRIPTION=This is the default template for TACK2.
---END PUBLISHING DATA---

<CFINCLUDE TEMPLATE="_header.cfm">

<!-- Title image -->
<SPAN STYLE="position: absolute; left: 100px; top: 30px;">
	<IMG SRC="images/tack2.gif" WIDTH=249 HEIGHT=58 BORDER=0 ALT="TACK2">
</SPAN>

<!-- News items -->
<SPAN STYLE="position: absolute; left: 215px; top: 130px; width: 330px;"">
	<CF_ShowContent>
</SPAN>

<CFINCLUDE TEMPLATE="_footer.cfm">